<form #calcForm="ngForm">
  <!-- `#名前`で入力フォームに名前をつけることができる -->
  <!-- 入力フォームをformの要素にするためにはname要素が必要となる。nameはフォームにつけた名前にするのが一般的で無難 -->
  <input [(ngModel)]="text1" name="fieldOne" required #fieldOne="ngModel">
  +
  <input [(ngModel)]="text2" name="fieldOne" required #fieldTwo="ngModel">
  <!-- formのバリデーションを検証することで、フォーム内の入力フォームのバリデーションを一括管理できる -->
  <button (click)="addAndShow()" [disabled]="calcForm.invalid">Calc</button>
  <div>{{result}}</div>
  <div>
    <span *ngIf="fieldOne.invalid">左側のフィールドが空白です</span>
    <br>
    <span *ngIf="fieldTwo.invalid">右側のフィールドが空白です</span>
  </div>
</form>
