a {
  padding: 10px;
  margin-left: 4px;
  background-color: darkolivegreen;
  color: khaki;
  text-decoration: none;
}

a:link, a:visited, a:hover {
  color: khaki;
}

a.selected-item {
  color: darkolivegreen;
  background-color: khaki;
}

div {
  padding: 50px;
  background-color: khaki;
  color: darkolivegreen;
}

